@font-face {
    font-family: 'myriad pro regular';
    src: url(../fonts/myriadpro-regular.eot), url(../fonts/myriadpro-regular.woff), url(../fonts/myriadpro-regular.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-light.ttf);
}

@font-face {
    font-family: 'montserrat-regular';
    src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: 'raleway regular';
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family: 'raleway extrabold';
    src: url(../fonts/raleway-extrabold.woff);
/*
    src: url(../fonts/raleway-extrabold.ttf);
    src: url(../fonts/raleway-extrabold.eot);
*/
}

@font-face {
    font-family: 'raleway semibold';
    src: url(../fonts/raleway-semibold.ttf);
/*
    src: url(../fonts/raleway-semibold.woff);
    src: url(../fonts/raleway-semibold.eot);
*/
}

@font-face {
    font-family: 'raleway medium';
    src: url(../fonts/raleway-medium.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-regular.ttf);
}

@font-face {
    font-family: 'shevron';
    src: url(../fonts/shevron.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
}

a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    margin: 0 auto;
    width: 1920px;
    box-shadow: 1px 1px 3px black;
}

main {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}

img {
    display: block;
}

h2 {
    display: block;
    width: 100%;
    color: #555;
    font-family: 'raleway medium';
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.h2_section {
/*    width: 100%;*/
    margin-bottom: 15px;
    text-align: center;
}

/*--------header-------*/

.main_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    background: url(../img/bg_hdr.jpg) no-repeat;
    background-color: #000;
    background-size: cover;
    min-height: 1024px;
}

.arrow {
    width: 18%;
    opacity: .5;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: center;
}

.arrow svg {
    fill: #fff;
}
.arrow:hover {
    opacity: 1;
}
.arrow:focus {
    outline: none;
}
.lft:focus svg {
    fill: #c7b299;
    transform: translateX(-12px);
    transition: .6s ease;
}
.rgt:focus svg {
    fill: #c7b299;
    transform: translateX(12px);
    transition: .6s ease;
}

.hdr_item {
    position: relative;
    width: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_top {
    width: 100%;
}

.nav_logo {
    float: left;
    display: flex;
    width: 200px;
    color: #fff;
    text-transform: capitalize;
    align-items: center;
    font: 32px 'raleway regular';
}
.logo {
/*    display: block;*/
    fill: #fff;
}
.nav_logo:hover {
    opacity: .7;    
}
.nav_logo:active {
    opacity: .2;    
}

/*------burger-menu------*/

.burger_menu {
    display: none;
    width: 55px;
    height: 63px;
    cursor: pointer;
    background: transparent;
    border: none;
}
.burger_menu svg {fill: #fff;}

/*---------------------*/
.nav_top_rgt {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 17%;
}

.nav_top_rgt a {
    color: #fff;
    margin-right: 30px;
    color: #fff;
    font: 14px/53px 'montserrat';
}

.nav_top_rgt a:hover {
    color: #c7b299;
}
.nav_top_rgt a:active {
    color: #362f2d;
}

.basket {
    display: block;
    width: 50px;
    border: none;
    cursor: pointer;
    background: url(../img/bag.svg) no-repeat transparent;
    background-position: center;
}

.basket:focus {
    outline: none;
}

input[type=search] {
    display: block;
    float: right;
    background: url(../img/zoom.svg) no-repeat transparent;
    background-position: right center;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border: none;
}

input[type=search]:hover {
    animation: partners 1s ease;
}

input[type=search]:focus {
    width: 230px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-position: right center;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

::-ms-clear:hover {
    display: none;
}

.h2_hdr {
    margin-top: 277px;
    display: block;
    color: #fff;
    font-family: 'raleway regular';
    font-size: 36px;
    text-align: center;
}

.h1 {
/*    padding-top: 0;*/
    font-family: 'raleway extrabold', sans-serif;
    font-size: 52px;
    line-height: 72px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

.hdr_item p {
    display: block;
    width: 50%;
    font: 16px/24px 'montserrat';
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.button {
    display: block;
    min-width: 170px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #998675;
    border-bottom: 3px solid #736357;
    text-transform: uppercase;
    color: #fff;
    font: 14px 'raleway extrabold', sans-serif;
}

.button:hover {
    border-bottom: 3px solid #736357;
    background-color: #736357;
}

.button:focus {
    background-color: #000;
    outline: none;
    opacity: .3;
}

.nav_bottom {
    padding: 0 42px;
    width: 192px;
    position: absolute;
    bottom: 0;
}

.nav_bottom a {
    display: block;
    float: left;
    box-sizing: content-box;
    width: 11px;
    height: 11px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
}

.nav_bottom a:hover {
    opacity: 1;
    width: 11px;
    height: 11px;
    margin: 3px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #c7b299;
}


/*----ссылки большого меню---*/

.nav_big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 18% 80px 18%;
    min-height: 375px;
}

.nav_big a {
    display: flex;
    flex-flow: column;
    width: 270px;
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font: 'raleway extrabold';
}

.nav_big svg {
    margin: 0 auto;
    fill: #555555;
}

.nav_big a span {
    color: #555;
    font: 22px 'raleway semibold', sans-serif;
    text-transform: capitalize;
    margin: 25px 0 10px;
    text-align: center;
}

.nav_big a p {
    color: #8c8c8c;
    opacity: 0.8;
    font: 14px/24px 'raleway semibold', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

.nav_big a:hover span {
    color: #c7b299;
}

.nav_big a:hover svg {
    animation: partners 1s ease;
    fill: #c7b299;
}

.nav_big a:hover p {
    opacity: 1;
}

.nav_big a::after {
    content: "";
    width: 70px;
    height: 3px;
    margin-top: 30px;
    background-color: #f1eee9;
    align-self: center;
}

.nav_big a:hover::after {
    background-color: #c7b299;
}


/*----------section 1----------*/

.section_1 {
    display: flex;
    flex-flow: column;
    padding: 80px 18% 0 18%;
    position: relative;
    background-color: #fbfaf8;
    justify-content: space-between;
}

.section_1 div {
    margin-top: 38px;
    min-height: 480px;
}

.p_gray {
    width: 100%;
    font: 16px/28px 'montserrat', sans-serif;
    text-align: center;
    color: #8c8c8c;
    padding: 0 18%;
    /*    margin: 0 auto;*/
}

.left_img {
    border-radius: 5px;
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 345px;
    cursor: pointer;
    opacity: .7;
}

.centr_img {
    display: block;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 578px;
    border-radius: 5px;
    cursor: pointer;
}

.rgt_img {
    display: block;
    z-index: 5;
    position: absolute;
    bottom: 0px;
    right: 345px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .7;
}

.left_img:hover {
    z-index: 11;
/*    opacity: 1;*/
    animation: zlet 1s forwards;
}

.rgt_img:hover {
    z-index: 12;
/*    opacity: 1;*/
    animation: zlet2 1s forwards;
}


/*----------aside 1-----------*/

.aside_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #000 0%, #4e3427 100%);
    min-height: 150px;
    width: 100%;
}

.aside_1 h2 {
    color: #fff;
    font: 28px 'raleway regular';
}

.waxom_h2 {
    color: #c7b299;
    font: 28px 'raleway regular';
}

.aside_1 p {
    color: #615855;
    font: 18px 'montserrat';
}

.purchase_now {
    display: block;
    cursor: pointer;
    width: 170px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #998675;
    border-bottom: 3px solid #736357;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: 'raleway extrabold';
}

.purchase_now:hover,
.purchase_now:focus {
    outline: none;
    border-bottom: 3px solid #736357;
    background-color: #736357;
}

/*--------section-2-prj------*/

.section_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 18%;
    justify-content: center;
    position: relative;
    min-height: 1163px;
    align-content: flex-start;
}

.nav_prj {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

.nav_prj a {
    margin: 0 10px;
    padding: 0 20px;
    font: 14px/31px 'montserrat';
    color: #8c8c8c;
    border-radius: 4px;
    border: 1px solid #c7b299;
}

.nav_prj a:hover {
    color: #fff;
    background-color: #998675;
}

.nav_prj a:active {
    background-color: #736357;
    color: #fff;
}

.project {
    width: 370px;
    min-height: 337px;
    margin: 0 15px 30px 15px;
    /*    padding: 15px;*/
    background-color: #555;
    position: relative;
}

.pro_txt_wrap {
    width: 100%;
    padding: 30px;
    position: relative;
    background-color: #fbfaf8;
    font: 14px/25px 'montserrat';
    color: #555;
}

.pro_txt_wrap:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.h3_prj {
    width: 100%;
    display: block;
    font: 20px 'raleway medium';
    color: #c7b299;
}

.project:hover img {
    filter: brightness(30%);
}

.project:hover .pro_txt_wrap {
    color: #c7b299;
    background-color: #362f2d;
}

.project:hover .h3_prj {
    color: #fff;
}

.project:hover .pro_txt_wrap:before {
    border-bottom: 10px solid #362f2d;
}

.prj_link,
.prj_search {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    display: none;
}

.prj_link {
    left: 38%;
    background: url(../img/link.svg) no-repeat 0px center;
}

.prj_search {
    right: 38%;
    background: url(../img/link_search.svg) no-repeat 0px center;
}

.project:hover .prj_search,
.project:hover .prj_link {
    display: block;
}

.prj_search:hover,
.prj_link:hover {
    background-position: -30px center;
}

.section_2 button {
    margin: 10px 100px 0 100px;
    margin: 10px 100px 0 100px;
}

/*-----section-video------*/

.video {
    display: block;
    padding: 0;
    width: 100%;
    height: 705px;
    overflow-y: hidden;
    position: relative;
}
.video-play {
    width: 100%;
    object-fit: cover;
}

.video-play-btn {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.video-play-btn div {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    min-height: 220px;
/*    align-items: center;*/
}
.video-play-btn svg {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 9.5px;
    fill: #a8a8a8;
}
.video-play-btn--hide {
  display: none;
}

.video_h2 {
    font: 30px 'raleway medium';
    color: #fff;
/*    text-align: center;*/
}
.video_time {
    font: 14px 'raleway medium';
    color: #c7b299;
    margin-top: 30px;
}
.video-play-btn p {
    color: #fff;
    margin-top: 30px;
    font: 16px/28px 'montserrat';
}

.video-play-btn:hover {
    outline: none;
}
.video-play-btn:hover svg {
    fill: #fff;
}
.video-play-btn:focus div,
.video-play-btn:focus svg .kto {
    fill: #000;
}

/*---------mobile--------*/

.mobile {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 80px 18%;
    position: relative;
    min-height: 693px;
    background: url(../img/mobil_hand.png) no-repeat 425px bottom;
    background-color: #fbfaf8;
}

.mobile h2 {
    margin: 80px 0;
    padding-left: 43%;
}

.p_mobile {
    font: 16px/28px 'montserrat', sans-serif;
    color: #8c8c8c;
    margin: 30px 0 30px 43%;
}

.mobile details {
    margin-left: 50%;
    font: 16px/28px 'montserrat', sans-serif;
    color: #8c8c8c;
}

details p {
    margin: 20px;
}

summary {
    /*    margin-left: 30px;*/
    padding-left: 20px;
    outline: none;
    position: relative;
    font: 16px/32px 'montserrat', sans-serif;
    color: #8c8c8c;
}

summary::-webkit-details-marker {
    display: none;
}

summary:before {
    font-family: 'shevron';
    content: "\e900";
    border-radius: 50%;
    color: #c7b299;
    font-size: 21px;
    position: absolute;
    top: -1px;
    left: -10px;
}

details[open] summary:before {
    color: #555;
    transform: rotate(90deg);
}

/*-------hvala sebe-------*/

.sec_hvala {
    display: flex;
/*    flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    padding: 0px 18%;
    width: 100%;
    min-height: 300px;
    background: linear-gradient(to right, #000 0%, #4e3427 100%);
/*    background: url(../img/bg_artc_ftr.jpg) no-repeat;*/
}

figure {
    width: 170px;
    margin: 0 15px;
}

figure svg {
    display: block;
    margin: 15px auto;
    fill: #c7b299;
}

.fig_numb {
    display: block;
    margin: 18px 0 5px;
    font: 48px 'montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.fig_span {
    display: block;
    font: 14px 'montserrat';
    text-align: center;
    color: #c7b299;
    text-transform: uppercase;
}

figcaption::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
    margin: 30px auto 0;
}

figure:hover span {
    color: #c7b299;
}
figure:hover svg {
    fill: #fff;
    animation: shine 2s forwards;
}

figcaption:hover::after {
    background-color: #c7b299;
}

/*------section-posts----*/

.section_posts {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 18%;
    justify-content: center;
    min-height: 753px;
}

.post {
    position: relative;
    display: flex;
    width: 370px;
    min-height: 395px;
    outline: 1px solid #c7b299;
    margin: 30px 15px;
    flex-direction: column;
    justify-content: space-between;
/*    opacity: .7;*/
}

.post:hover {
    outline: none;
    background-color: #362f2d;
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.post:hover img {
    filter: brightness(40%);
}

.post:hover .post_txt p {
    color: #fff;
}
.post:hover .post_txt .h3_post {
    color: #c7b299;
}
.post:hover .div_data {
    background-color: #c7b299;
}
.post:hover .span_data {
    background-color: #a48d72;
}

.post_txt {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    min-height: 175px;
    padding: 30px;
}
.post_txt p {
    color: #555;
    font: 14px/22px 'montserrat';
    text-align: left;
    padding: 0;
}
.h3_post {
    font: 20px/20px 'raleway medium';
    color: #555;
}
.readmore {
    color: #c7b699;
    font-size: 14px;
    font: 14px 'montserrat';
}
.readmore:after {
    content: "";
    display: inline-block;
    margin-left: 9px;
    width: 0px;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #c7b699;
}
.readmore:hover {
    color: #555;
}
.readmore:hover:after {
    border-left: 5px solid #555;
}
.readmore:active:after {
    transform: translateX(12px);
}

.div_data {
    display: block;
    padding: 4px 0;
    color: #fff;
    font: 24px 'montserrat';
    text-align: center;
    width: 50px;
    height: 60px;
    background-color: #363636;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.span_data {
    display: block;
    height: 25px;
    width: 100%;
    background-color: #252525;
    font: 12px/25px 'roboto';
    text-transform: capitalize;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
}

.post_arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: .7;
}

.arrow_ltl_rgt:hover span:before, .arrow_ltl_left:hover span:after {
    color: #c7b299;
}
.arrow_ltl_left span:after {
    content: "\e903";
    font-family: 'shevron';
    font-size: 22px;
    color: #555;
    margin-right: 5px;
}
.arrow_ltl_rgt span:before {
    content: "\e902";
    font-family: 'shevron';
    font-size: 22px;
    color: #555;
    margin-left: 5px;
}

/*-----------section-ad--------*/

.section_ad {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 18%;
    justify-content: space-between;
    align-items: center;
    background: url(../img/bg_ad.jpg) no-repeat;
    background-position: 84% 57%;
    min-height: 489px;
}

.section_ad a {
    opacity: .8;
    width: 270px;
    height: 225px;
}

.section_ad a:hover {
/*    opacity: 1;*/
    animation: partners 2s forwards;
}

.section_ad a:first-child {
    background: url(../img/lg_partner.png) no-repeat 26px 0;
}

.section_ad a:nth-child(2) {
    background: url(../img/lg_partner.png) no-repeat -231px 0;
}

.section_ad a:nth-child(3) {
    background: url(../img/lg_partner.png) no-repeat -478px 0;
}

.section_ad a:nth-child(4) {
    background: url(../img/lg_partner.png) no-repeat -725px 0;
}

/*-----------footer--------*/

.footer {
    display: flex;
    justify-content: space-between;;
    padding: 80px 18%;
    flex-wrap: wrap;
    position: relative;
    background-color: #191919;
    min-height: 619px;
}
.footer .nav_logo {
    float: none;
}
.footer div {
    width: 300px;
/*    align-items: stretch;*/
    padding: 0 15px;
    margin-bottom: 30px;
}

.footer p {
    margin-top: 30px;
    color: #666;
    font: 14px/24px 'montserrat';
}
.h2_footer {
    color: #fff;
    text-transform: capitalize;
    font: 24px 'raleway semibold';
}
.foot_posts {
    margin-top: 30px;
}
.foot_posts span {
    color: #555;
    font: 14px/24px 'montserrat';
}
.foot_posts p {
    margin: 0 0 30px;
}
.foot_posts:hover p {
    color: #c7b299;
}
.foot_posts:hover span {
    color: #fff;
}

.twit_a {
    display: inline-block;
    color: #00ccff;
}
.twit_a:hover {color: #fff;}
.twit_a:active {color: #000;}
.twit_data {
    color: #555;
}

.widjets {
    margin: 30px 0 30px -20px;
    display: grid;
    grid-template: 2fr auto/2fr auto;
    grid-gap: 20px;
    flex-wrap: wrap;
}

.footer .readme {
    font: 14px 'montserrat-regular';
    color: #fff;
    margin-top: 30px;
}
.footer .readme:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #555;
    margin-left: 20px;
}
.footer .readme:hover {
    color: #666;
}
.footer .readme:hover:after {
    border-left: 5px solid #555;
}
.footer .readme:active:after {
    transform: translateX(12px);
}

/*--------copyright----------*/
.sec_copyrt {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 18%;
    width: 100%;
    background-color: #000;
    justify-content: space-between;
    min-height: 111px;
    color: #666;
    align-items: center;
    font: 13px 'montserrat-regular';
}
.sec_copyrt div {
    display: flex;
    flex-wrap: wrap;
}
.sec_copyrt span {
    margin: 0 4px;
    color: #fff;
}
.sec_copyrt a {
    color: #666;
    margin: 0 8px;
}
.sec_copyrt a:hover {
    color: #c7b299;
}

/*----------media---------*/
@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    .hdr_item p {
        width: 100%;
    }
    .nav_big a {
        margin-bottom: 15px;
    }
    
    .nav_top_rgt:hover a {
        display: block;
        animation: bubu 1.3s .3s forwards;
        opacity: 0;
        padding-left: 20px;
        padding-right: 80px;
        background-color: rgba(0, 0, 0, 0.84);
    }
    
    .hdr_item {
        width: 100%;
        padding: 40px;
    }
    .basket {
        display: none;
    }
    .nav_top {
        position: relative;
    }
    .nav_logo {
        flex-flow: column;
        margin: 0 auto;
    }
    .nav_logo span {
        display: none;
    }
    .nav_top_rgt {
        position: absolute;
        left: 0;
        flex-flow: column;
        margin-left: 0;
        border-radius: 4px;
    }
    .nav_top_rgt a {
        display: none;
    }

    .burger_menu {
        display: block;
    }
    .burger_menu:focus {
        outline: none;
    }
/* ----------------------------*/
    
    .section_1 {
        padding: 80px 20px 0;
    }
    .section_1 div {
        min-height: 300px;
        transform: scale(.6, .6);
    }
    .left_img {
        left: -150px;
        bottom: -100px;
    }

    .centr_img {
        left: 50px;
        bottom: -100px;
    }

    .rgt_img {
        left: 250px;
        bottom: -100px;
    }

    .section_2 {
        display: flex;
        flex-wrap: wrap;
        padding: 80px 5%;
    }

    .post {
        margin-bottom: 0;
    }
    .post_arrows {
        display: none;
    }
    .video-play-btn {
        top: 30%;
        left: 18%;
        width: 62%;
    }
    .mobile {
        padding: 80px 10%;
        background-position: 30px bottom;
    }
}
    
@media screen and (max-width: 800px) {
    body {
/*        min-width: 100%;*/
    }

    header {
        background-color: #111;
        object-fit: cover;
        background-size: contain center top;
        padding: 40px;
/*        min-height: 100vh;*/
    }
    
    .arrow {display: none;}
    .nav_bottom {display: none;}

    .h2_hdr {
        margin: 40% 20% 0 20%;
        font-size: 26px;
    }
    .nav_big {
        padding: 80px 20px;
/*        height: 100vh;*/
        flex-basis: 35%;
    }
    
/*----------------------*/
    
    .left_img {
        left: -150px;
    }
    
    .centr_img {
        left: -40px;
    }
    
    .rgt_img {
        left: 70px;
    }
/*---------------------*/
    
    .section_2 {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 80px 5%;
    }
    .nav_prj {
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        visibility: hidden;
    }
    .nav_prj a:first-child {
        visibility: visible;
    }
    .nav_prj:hover a {
        visibility: visible;
        transition: .6s ease;
        padding: 16px 20px;
    }
    .nav_prj a {
        display: block;
        z-index: 9;
        width: 370px;
        border: none;
        background-color: #c7b299;
        color: #fff;
    }

/* --------------------   */
    .section_ad {
        width: 100%;
        flex-direction: column;
        background-position: 84% 57%;
        background-position: 44% 57%;
        min-height: 489px;
    }
    .aside {
        padding: 10px;
    }

/*------------------------*/

    .sec_hvala {
        padding: 80px;
        flex-flow: column;
        align-items: flex-start;
    }
    figure {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        justify-content: flex-start;
    }
    figure svg {
        margin-left: 20px;
        align-self: center;
    }
    .fig_numb,
    .fig_span {
        text-align: right;
    }
    figcaption::after {
        display: none;
    }
/*-------------------------*/
    .mobile {
        padding: 80px 10%;
        background-position: -128px bottom;
    }
    .mobile h2 {
    margin-top: 80px;
        padding-left: 0%;
    }
    .footer {padding: 80px 10%;}
    .sec_copyrt {padding: 0 10%;}
    
    .section_ad {
        flex-flow: column;
    }
    .footer {
        flex-flow: column;
        align-items: center;
    }
}
/*--------------------*/

@media screen and (max-width: 506px) {
    .section_1 {
        min-height: 600px;
        justify-content: flex-start;
        background: url(../img/bg_sect1.png) no-repeat center bottom;
    }
    
    .section_1 div {
        display: none;
    }
    .aside h2,
    .aside p {
        text-align: center;
    }
}